* {
    padding: 0px;
    margin: 0px;
}

:root {
    --fundo-principal: f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque: #0056b8;
    --destaque-inverso: #66bbff;
    --fundo-card: #f1f1f1;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    background-color: var(--fundo-principal);
    color: var(--texto);
}

header {
    background-color: var(--destaque);
    color: var(--texto);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding: 10px 0px;
    position: sticky;
    top: 0;
}

header>h1 {
    margin: 20px 0px;
    width: 100vw;
    text-align: center;
    color: var(--texto-inverso);

}


#caixaIcone {
    width: 97%;
    display: flex;
    margin: auto;
}

#caixaIcone i {
    color: var(--texto-inverso);
    width: 100%;
    margin: auto;
    cursor: pointer;
    /*faz aparecer a mãozinha como se fosse um link*/
    font-size: 2em;
    border-radius: 5px;
    padding: 10px;
}

#caixaIcone i:hover {
    background-color: var(--destaque-inverso);
    color: var(--destaque);
    transition: background-color 0.5s, color 0.5s;
}



#itensMenu {
    list-style: none;
    /*Retira as bolinhas da lista*/
    display: none;
    /*Espaçamento entre os links*/
    flex-direction: column;
    width: 97%;
    margin: auto;
}

#menu li {
    width: 97%;
    text-align: center;
    display: block;
    margin: auto;

}

#menu a {
    text-decoration: none;
    color: var(--texto-inverso);
    font-size: medium;
    border-radius: 5px;
    padding: 6px 0px;
    display: block;
    /*faz o link ocupar o tamanho da caixa*/
}

#menu i:hover,
a:hover {
    background-color: var(--destaque-inverso);
    color: var(--destaque);
    transition: background-color 0.5s, color 0.5s;
}








main {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto 90vw auto;
    /*Conteudo principal terá 3 colunas*/
}


section{
    grid-column: 2;
}


section#sobreMim {
    margin: 20px 0px;
    padding: 20px 0px;
    background-color: var(--fundo-card);
    border-radius: 8px;
    /*resumo ficará na segunda coluna*/
    box-shadow: 1px 1px 3px rgb(218, 218, 218);
}

#sobreMim>img {
    width: 200px;
    aspect-ratio: 1/1;
    /*tamanho da img*/
    object-fit: cover;
    /*preenche o espaço cortando a parte de que n cabe*/
    overflow: hidden;
    /*Caso a img transborde, não irá mostrar a img inteira*/
    border-radius: 50%;
    border: 5px solid white;
    outline: 5px solid var(--destaque);

    /*Centraliza a img*/
    display: block;
    margin: auto;
}

#sobreMim>h1 {
    color: var(--destaque);
    margin: 15px 0px;
    font-size: 1.5em;
    text-align: center;
}

#sobreMim p {
    text-align: start;
    margin: 20px 30px;
}

#sobreMim>div#redeSocial {
    font-size: 2em;
    color: var(--destaque);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}



#sobreMim>div#redeSocial a:hover {
    color: var(--destaque);
}


#sobreMim>div#redeSocial a {
    color: var(--destaque);
}





section>article {
    background-color: var(--fundo-card);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

article>h2 {
    color: var(--destaque);
    margin-bottom: 10px;
}


#boxProjetos{
    display: flex;
    flex-direction: column;
}




.projeto a{
    text-decoration: none;
    color: var(--texto);
}


.itemCurso,
.experiencia,
.itemFormacao,
.projeto
{
    border-left: 3px solid var(--destaque-inverso);
    padding-left: 8px;
    border-radius: 8px;
    transition: border-left 0.2s, color 0.2s;
    margin: 25px 0px 0px 0px;
}


.itemCurso:hover,
.experiencia:hover,
.itemFormacao:hover,
.projeto:hover{
    border-left: 5px solid var(--destaque);
    padding-left: 8px;
    border-radius: 8px;
}




footer{
    text-align: center;
    background-color: var(--destaque);
    color: var(--texto-inverso);
}