/*Css para telas maiores*/


@media screen and (min-width: 768px) {




    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    header>h1 {
        width: auto;
    }


    #caixaIcone {
        display: none;
    }


    #menu {
        width: 600px;
    }



    #itensMenu {
        display: flex !important;
        /*Faz com que o menu fique sempre visível*/
        flex-direction: row;
    }


    main {
        justify-items: center;
    }

    #sobreMim,
    #experiencias,
    #formacaoCursos,
    #projetos {
        width: 80vw;
    }

    section#formacaoCursos {
        grid-column: 2;
        display: flex;
        gap: 10px;

    }

    section#formacaoCursos article {
        width: 100%;
    }

   #boxProjetos{
    flex-direction: row;
    flex-wrap: wrap;

   }

   .projeto{
    width: 30%;
   }

}